* {
}

#main {
  max-width: 1000px !important;
  margin: 0 auto;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #e07a5fff;
  height: 120px;
  z-index: 1;
}

header img {
  margin: 0 auto;
  padding-bottom: 5px;
}

.dropdown {
  margin-left: 10%;
  margin-top: 20px;
}

.dropdown-content {
  width: fit-content;
}

footer {
  position: static;
  bottom: 0;
}
